version: "3.9"
services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      MONOLITH_HOST: "0.0.0.0"
      MONOLITH_PORT: "5000"
      MONOLITH_QUEUE: "local"
    volumes:
      - .:/app
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
